.head__logo,
.head__slogan,
.head__search
  border-right: 1px solid #3d757d
  border-bottom: 1px solid #3d757d

.head
  background-color: #b8dce1
  text-align: center
  color: #295359
  font-size: 2rem
  line-height: 7.1rem


  .head__logo
    padding-right: 2.7rem


  .head__slogan
    margin-bottom: 0
    font-family: Roboto, sans-serif
    font-weight: normal

  .head__search
    text-align: left
    padding-left: 20px

  .head__phone-number
    margin: 0
    padding-left: 1.6rem
    font-family: "Roboto Lt", sans-serif
    font-weight: 500
    border-bottom: 1px solid #3d757d
    a
      text-decoration: none
      color: #295359

.search
  .search__btn,
  .search__input
    padding: 0
    background: transparent
    border: none
    outline: none


  .search__input
    width: 60%
    padding-left: 1.5rem
    font-family: Roboto, sans-serif
  .search__btn
    cursor: pointer
    font-size: 2.5rem
    color: inherit
    &:active
      transform: translateY(3px)



input[type="search"]::-webkit-input-placeholder
  color: #295359

input[type="search"]::-moz-placeholder
  color: #295359

