@media screen and (min-width: 1280px)
  .head
    .head__logo
      flex: 0 0 22.6%
      max-width: 22.6%
    .head__slogan
      flex: 0 0 29%
      max-width: 29%
    .head__search
      flex: 0 0 27.7%
      max-width: 27.7%
    .head__phone-number
      flex: 0 0 20.7%
      max-width: 20.7%

@media screen and (max-width: 1280px)
  .head__slogan
    font-size: 1.5vw


@media screen and (min-width: 991px)
  .catalog
    .about-company
      flex: 0 0 36.4%
      max-width: 36.4%
    .info--company
      flex: 0 0 37%
      max-width: 37%
    .photo-company
      flex: 0 0 26.6%
      max-width: 26.6%
  .courses-footer
    .main-info
      flex: 0 0 29.4%
      max-width: 29.4%
    .courses-links
      flex: 0 0 34.5%
      max-width: 34.5%
  .btn-page--screen
    &:hover
      background-color: #3f818b
      transition: background-color 0.5s ease
    &:active
      background-color: #204348
      transition: background-color 0.5s ease
  .btn-page--catalog
    &:hover
      background-color: #f7903f
      transition: background-color 0.5s ease
    &:active
      background-color: #c05d0e
      transition: background-color 0.5s ease
  .company-link
    &:hover
      color: #2a545a
  .title-link
    &:hover
      color: #3f818b
      transition: background-color 0.5s ease
    &:active
      color: #204348
      transition: background-color 0.5s ease


@media screen and (max-width: 991px)
  .head
    font-size: 1.8rem
  .head__slogan
    display: none
  .head__logo
    img
      width: 70%
  .big-title
    font-size: 3rem
  .header-front__text
    font-size: 1.8rem
  .screen-courses
    position: static
    margin: 0 auto
  .photo-company
    text-align: center
  .title-courses
    font-size: 2.8rem
  .courses-address
    font-size: 1.8rem
  .info--map
    width: 100%
  .courses-list__img-link
    margin-left: 0
    margin-top: 1rem
  .main-info,
  .courses-links
    border-bottom: 1px solid #172b2e
    border-right: none
  .info--footer
    text-align: center

@media screen and (max-width: 767px)
  .head
    font-size: 1.6rem
  .opening-year
    font-size: 1.4rem
  .txt-company
    font-size: 1.6rem
  .title-courses
    font-size: 2.8rem

@media screen and (max-width: 576px)
  .head
    font-size: 1.4rem
  .screen-courses
    width: 100%
    max-width: 520px
  .head__search
    order: 1
    border: none

