@media screen and (min-width: 1280px)
  .head
    .head__logo
      flex: 0 0 22.5%
      max-width: 22.5%
    .head__slogan
      flex: 0 0 29%
      max-width: 29%
    .head__search
      flex: 0 0 27.8%
      max-width: 27.8%
    .head__phone-number
      flex: 0 0 20.7%
      max-width: 20.7%


@media screen and (max-width: 990px)
  .search
    margin-left: 25%
  .header-front__title
    font-size: 2.4rem
  .header-front__text
    font-size: 1.8rem

@media screen and (max-width: 767px)
  .head
    .head__logo,
    .head__slogan,
    .head__search,
    .head__phone-number
      font-size: 1.8rem
      padding-top: 2%
      padding-left: 1.5rem
      padding-right: 1.5rem
    .search
      margin-left: 40%
